.card-anchor {
  text-decoration: none;
}

.story {
  width: 100%;
  box-shadow: 0px 3px 28px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 12px;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.story .title {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.6rem;
  font-style: normal;
  color: var(--text-primary);
}

.story .text {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4rem;
  font-style: normal;
  margin: 1rem 0;
  color: var(--text-primary);
}

.story .story-footer {
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 1.1rem;
  font-style: normal;
  color: var(--text-secondary);
}