.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2vw;
  margin-right: 2.5vw;
  position: relative;
  top: 6.7rem;
}

.stories-count {
  background-color: #fbc91b;
  padding: 0.5rem 1rem;
  border-radius: 12px;
}

.menu-bar button {
  margin: 0.5rem;
}

@media only screen and (max-width: 768px),
only screen and (max-device-width: 768px){
  .menu-bar {
    margin-left: 0;
    margin-right: 0;
  }
}