.header {
  position: fixed;
  width: 100%;
  height: 51px;
  left: 0;
  top: 0;
  z-index: 1;

  background: #fff;
  box-shadow: 0px 3px 28px rgba(0, 0, 0, 0.08);
  
  display: flex;
  justify-content: center;
  align-items: center;
}