/* Universal Styling and Resets */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Wrapper styling */
.wrapper {
  margin: 0 1.5rem;
}

/* Universal buttons styling */
.btn {
  border: none;
  font-weight: 600;
  margin: 0 1rem;
  font-size: 1.6rem;
  outline: none;
  padding: 0.5rem 1rem;
}